.language {
    display: flex;
    align-items: center;

    li {
      &:hover {
        a {
          color: rebeccapurple;
        }
      }

      & + li {
        margin-left: 0.5rem;
      }
    }
    
    .active {
      border: 1px solid rebeccapurple;
      border-radius: 3px;

      a {
        color: rebeccapurple;
        pointer-events: none;
      }
    }

    a {
      text-decoration: none;
      font-size: 0.75rem;
      padding: 0.5rem;
      color: #000;
    }
  }