.language {
    display: flex;
    align-items: center;

    li {
      &:hover {
        a {
          color: rebeccapurple;
        }
      }

      & + li {
        margin-left: 0.5rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 0.75rem;
      padding: 0.5rem;
      color: #000;

      &.active {
        border: 1px solid rebeccapurple;
        border-radius: 3px;
        color: rebeccapurple;
        pointer-events: none;
      }
    }
  }