@import "reset";

.container {
    margin: auto;
    max-width: 1200px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rebeccapurple;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
  }